USE [master]
GO
/****** Object:  Database [permisos_db]    Script Date: 16/05/2026 07:23:52 p. m. ******/
CREATE DATABASE [permisos_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'permisos_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\permisos_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'permisos_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\permisos_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [permisos_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [permisos_db]
GO
/****** Object:  Table [dbo].[Modulo]    Script Date: 16/05/2026 07:23:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[sistema_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 16/05/2026 07:23:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[modulo_id] [int] NOT NULL,
	[puede_leer] [bit] NOT NULL,
	[puede_escribir] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sistema]    Script Date: 16/05/2026 07:23:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sistema](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 16/05/2026 07:23:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[correo] [nvarchar](150) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Modulo] ON 

INSERT [dbo].[Modulo] ([id], [nombre], [descripcion], [sistema_id]) VALUES (1, N'Ventas', N'Gestión de ventas', 1)
INSERT [dbo].[Modulo] ([id], [nombre], [descripcion], [sistema_id]) VALUES (2, N'Compras', N'Gestión de compras', 1)
INSERT [dbo].[Modulo] ([id], [nombre], [descripcion], [sistema_id]) VALUES (3, N'Inventario', N'Control de inventario', 1)
SET IDENTITY_INSERT [dbo].[Modulo] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([id], [usuario_id], [modulo_id], [puede_leer], [puede_escribir]) VALUES (2, 1, 1, 1, 1)
INSERT [dbo].[Permiso] ([id], [usuario_id], [modulo_id], [puede_leer], [puede_escribir]) VALUES (3, 1, 2, 1, 0)
INSERT [dbo].[Permiso] ([id], [usuario_id], [modulo_id], [puede_leer], [puede_escribir]) VALUES (4, 2, 4, 1, 1)
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Sistema] ON 

INSERT [dbo].[Sistema] ([id], [nombre], [descripcion], [activo]) VALUES (1, N'ERP', N'Sistema de planificación empresarial', 1)
INSERT [dbo].[Sistema] ([id], [nombre], [descripcion], [activo]) VALUES (2, N'CRM', N'Gestión de clientes', 1)
INSERT [dbo].[Sistema] ([id], [nombre], [descripcion], [activo]) VALUES (3, N'RRHH', N'Recursos Humanos', 1)
SET IDENTITY_INSERT [dbo].[Sistema] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [nombre], [correo], [contrasena], [activo], [fecha_creacion]) VALUES (1, N'Juan Perez', N'juan@test.com', N'HASHED_PASSWORD', 1, CAST(N'2026-05-16T18:43:02.450' AS DateTime))
INSERT [dbo].[Usuario] ([id], [nombre], [correo], [contrasena], [activo], [fecha_creacion]) VALUES (2, N'Maria Lopez', N'maria@test.com', N'HASHED_PASSWORD', 1, CAST(N'2026-05-16T18:43:02.450' AS DateTime))
INSERT [dbo].[Usuario] ([id], [nombre], [correo], [contrasena], [activo], [fecha_creacion]) VALUES (3, N'Carlos Ruiz', N'carlos@test.com', N'HASHED_PASSWORD', 1, CAST(N'2026-05-16T18:43:02.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  Index [UQ_Usuario_Modulo]    Script Date: 16/05/2026 07:23:52 p. m. ******/
ALTER TABLE [dbo].[Permiso] ADD  CONSTRAINT [UQ_Usuario_Modulo] UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC,
	[modulo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Sistema__72AFBCC6658CF993]    Script Date: 16/05/2026 07:23:52 p. m. ******/
ALTER TABLE [dbo].[Sistema] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__2A586E0B3437ABDA]    Script Date: 16/05/2026 07:23:52 p. m. ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Permiso] ADD  DEFAULT ((0)) FOR [puede_leer]
GO
ALTER TABLE [dbo].[Permiso] ADD  DEFAULT ((0)) FOR [puede_escribir]
GO
ALTER TABLE [dbo].[Sistema] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Modulo]  WITH CHECK ADD  CONSTRAINT [FK_Modulo_Sistema] FOREIGN KEY([sistema_id])
REFERENCES [dbo].[Sistema] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Modulo] CHECK CONSTRAINT [FK_Modulo_Sistema]
GO
ALTER TABLE [dbo].[Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Modulo] FOREIGN KEY([modulo_id])
REFERENCES [dbo].[Modulo] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Permiso] CHECK CONSTRAINT [FK_Permiso_Modulo]
GO
ALTER TABLE [dbo].[Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Permiso] CHECK CONSTRAINT [FK_Permiso_Usuario]
GO
ALTER TABLE [dbo].[Permiso]  WITH CHECK ADD  CONSTRAINT [CHK_Escritura_Implica_Lectura] CHECK  (([puede_escribir]=(0) OR [puede_escribir]=(1) AND [puede_leer]=(1)))
GO
ALTER TABLE [dbo].[Permiso] CHECK CONSTRAINT [CHK_Escritura_Implica_Lectura]
GO
USE [master]
GO
